.nav {
    background-color: red;
    border: 2px solid black;
    box-shadow: 10px 10px 10px solid grey;
    margin-bottom:5%;
    height: 10vh;
    display:flex;
    flex-direction: row;
    min-width: 60vw;
}
        
.nav a{
            
            text-decoration: none;
            color:white;
            font-size: 16px;
            border: 2px solid black;
            padding: 2%;
            margin:1%;
                
                
                a:hover {
                    color:black;
                    text-decoration: overline;
                    font-size:20px;
                    border: none;
                }
            }
        
    
